html {
  background-color: #EEEEEE;
}
h1 {
  font-size: 1.6rem;
  color:rgb(61, 70, 77);
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 1.45;
}
p {
  font-size: 0.95rem;
  line-height: 1.45;
  width: 29rem;
  color:rgba(61, 70, 77, 0.55);
}
.copy {
  padding-left: 12rem;
  padding-top: 12rem;
  align-self: flex-start;
}
.flexbox-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height:100vh;
}
.img {
  padding-left: 1rem;
  align-self: flex-end;
}
a{
  font-size: 0.95rem;
  color:rgba(61, 70, 77, 0.55);
  border-bottom: 1px solid #8C9195;
}
a:hover{
  background-color: #8C9195;
  color: white;
  text-decoration:none;

}
